@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;   
}
.container{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px 0px 0px 0px;

}


.left-page{
    display: flex;
    width: 30%;
    background-color: #000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),url(img/roan-lavery-lvy_VvdLmnA-unsplash.jpg);
    background-position: center;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.maintext-element{
    font-size: 72px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}

.right-page{
    display: flex;
    flex-direction: column;
    
    padding: 24px 24px 24px 24px;
    justify-content:center;
    width: 70%;
    background-color: rgb(224, 224, 224);
}

.right-page p{
    font-size: 24px;
}

.right-page p:last-child{
    font-size: 16px;
}

.input-class{
    display: flex;
    gap: 3rem;
}

.input-right, .input-left{
    display: flex;
    flex-direction: column;
    gap: 12px;
}



.label-input{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

button{
    background-color: #596d48;
    color: #ffffff;
    height: 3rem;
    width: 12rem;
    border-radius: 0.4rem;
    border-color: #596d48;
    font-weight: 300;
}

button:hover{
    background-color: #4f5e43;
    transition: background-color 0.5s ease;
}

legend{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
}

label{
    font-size: 0.9em;
}

input{
    width: 16rem;
    height: 1.75rem;
    border-radius: 0.4rem;
    border-color: #b8b8b8;
    border-width: 1px;    
    border-style: solid;
}

input:invalid{
    border-color: red;
}

input:focus{
    border-color: rgb(65, 109, 67);
    border-width: 1px;    
    border-style: solid;
    background-color: #f3f3f3;
}

a{
    color: #596d48;
    text-decoration: none;
}

a:visited{
    color: #4f5e43;
}

